

.box{
    display: flexbox;
    flex-direction: row;
    flex: 1;
    position: fixed;
}
.leftbox{
    width: 600px;
    padding-top: 260px;
    padding-left: 300px;
}
.heading,.subheading,.enter{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    padding-left: 100px;
    align-items: center;
}
.heading{
    
   font-size: 50px;
   font-style: normal;
   font-weight: bold;
   margin-bottom: 15px;
   text-shadow: 1px 1px 5px black;
}
.subheading{
   
    font-size: 20px;
    margin-bottom: 15px;
}

.enterbutton{
   background-color: rgb(7, 197, 0);
    border-width: thin;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    height: 30px;
    padding-left: 15px;
    padding-right: 15px;
    opacity: 1;
    cursor: pointer;
}
.enterbutton:hover{
    opacity: 0.7;
}
.enterbutton:active{
    background-color: rgb(0, 218, 0);
    opacity: 1;
}
 a{
    color: black;
    text-decoration: none;
    font-weight: bold;
 }

 
